a {
    text-decoration: none;
    vertical-align: middle;
}

/*start header*/

.header {
    width: 100%;
    height: 80px;
    display: table;
    padding: 20px 45px;
    text-decoration: none;
    vertical-align: middle;
    margin: 0px;
}
.header ul {
    padding: 0px;
    margin: 0px;
    display: table-cell;
}
.nametitlle {
    vertical-align: middle;
    padding: 0px;
}
.nametitlle a {
    padding: 0px;
    display: table-cell;
    color: #393c40;
    font-size: 18px;
    width: 100px;
}
.navbar {
    text-align: center;
    padding: 0px;
    margin: 0 auto;
    vertical-align: middle;
    line-height: normal;
    display: table-cell;
}
.navbar a {
    padding: 5px;
    margin: 0px 20px;
    width: 100px;
    height: 30px;
    float: left;
    background-color: #ecedef;
    color: #393c40;
    border-radius: 24px;
    border: 0px;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    list-style: none;
}
.navbar a:hover {
    width: 100px;
    height: 30px;
    display: table-cell;
    float: left;
    background-color: #1de9b6;
    color: #fff;
    border-radius: 24px;
    border: 0px;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}
.active_item {
    width: 100px;
    height: 30px;
    display: table-cell;
    float: left;
    background-color: #1de9b6 !important;
    color: #fff !important;
    border-radius: 24px;
    border: 0px;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}
.navbar li {
    vertical-align: middle;
    text-align: center;
}
.login {
    display: table-cell;
    vertical-align: middle;
}
.loginbtn {
    height: 30px;
    border-radius: 24px;
    border: 0px;
    width: 100px;
    background-color: #1de9b6;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
}
/*end header*/

/*start side bar */
.sidebar {
}

.sidebaritem {
    width: 39px;
    width: 39px;
    border-radius: 50px;
    padding: 8px;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
}
.c1 {
    background-color: #a389d4;
}
.c2 {
    background-color: #f4c22b;
}
.c3 {
    background-color: #1de9b6;
}
.c4 {
    background-color: #04a9f5;
}
.c5 {
    background-color: #ecedef;
}

.sidebaritem img {
    width: 16px;
    height: 16px;
    margin: 0 auto;
}

/*end side bar*/

/*start side menu */
.sidemenu {
    background-color: #1de9b6;
    height: 1100px;
}
.sidemenuitem {
    margin: 20px;
    display: table;
    vertical-align: middle;
}
.sidemenuitem a {
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    color: #fff;
    display: table-cell;
}
.sidemenuitem img {
    display: table-cell;
    width: 26px;
    margin: 10px;
}
/*end side manu*/

/*start menu*/
.menu {
    background-color: #f0f3f6;
}
.menu-col {
    margin: 0px 35px;
}
.menu-item {
    margin: 20px 0px;
}
/*start item1*/
.item-1 {
    background-color: #fff;
    padding: 20px;
}
.item-header {
    vertical-align: middle;
    display: table;
}
.item-titlle {
    display: table-cell;
    vertical-align: middle;
}
.item-icon {
    vertical-align: middle;
}
.item-icon img {
    vertical-align: middle;
    display: table-cell;
    height: 16px;
    width: 4px;
    float: right;
}
.chart {
    display: table;
    align-items: center;
}
.text-items {
    display: table;
    margin: 0 auto;
    text-align: center;
}
.item-text {
    display: table-cell;
    padding: 20px;
    text-align: center;
    line-height: 10px;
}
/*end item1*/

/*start item2*/
.item-2 {
    background: linear-gradient(45deg, #899ed4, #a389d4);
    padding: 20px;
}
#w-color {
    color: #fff;
}
.item-titlle2 {
    display: table;
}
.item-p {
    font-size: 12px;
    padding: 20px 0px;
}

.item-imgs {
    display: table;
    max-width: 250px;
}
.item-img {
    display: table-cell;
    padding: 0px;
}
.item-img img {
    width: 39px;
    height: 39px;
}

/*end item2*/

/*start item-3*/
.item-3 {
    background-color: #fff;
    padding: 20px;
}
.react-calendar {
    font-family: "Open Sans", sans-serif !important;
    border: none;
    width: 500px;
}

/*end item-3*/

/*start item-4*/
.item-4 {
    background-color: #fff;
    padding: 20px;
}
#text-color-gray {
    color: #aaaeb3;
    text-align: center;
}

.item-4-input {
    padding: 20px 0px;
}
.input-checkbox {
    padding-right: 30px;
    display: table-cell;
}
.input-checkbox input {
}
.input-button{
    text-align: center;

}
.loginbtn-input{
    width: 136px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    width: 100px;
    background-color: #1de9b6;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;


}
/*end item-4/


/*start item5*/
.item-5{
    background-color: #fff;
    padding: 20px;

}
.item-5-notif{
    padding: 20px 0px;

}
.item-5-notif-item{
    display: table;
}
.item-5-notif-circle{
    display: table-cell;
    vertical-align: middle;
}
.circle{
    vertical-align: middle;
    border-radius: 10px;
    width: 10px;
    height: 10px;
}
.circle-c-1{
    background-color: #1DE9B6;
}
.circle-c-2{
    background-color: #F4C22B;
    
}
.circle-c-3{
    background-color: #A389D4;
}
.item-5-notif-img{
    padding: 0px 10px;
    vertical-align: middle;
    display: table-cell;

}
.item-5-notif-img img{
    width: 40px;
    height: 40px;
}
.item-5-notif-text{
    vertical-align: middle;
    display: table-cell;
    font-size: 12px;


}
.item-5-notif-text1 p{
    padding: 0px 10px;
    margin: 0px;
    color: #393C40;

 
}
.item-5-notif-text2 p{
    padding: 0px 10px;
    margin: 0px;
    color: #AAAEB3;
    
}

/*end item5*/
/*start item6*/
.item-6{
    background-color: #fff;
    padding: 20px;

}


.chartinfo{
    padding: 20px 0px;
    display: table;
    text-align: center;
    margin: 0px auto;
}
.chartinfo-item{
    display: table-cell;
    text-align: center;
}
.chartinfo-circles{
}
.chartinfo-circle{
    margin: 0px auto;

}
.circle-c-1-1{
    background-color: #1DC4E9;
}
.circle-c-1-2{
    background-color: #899ED4;
}
.circle-c-1-3{
    background-color: #00A2FF;
}
.circle-c-1-4{
    background-color: #F48F36;
}
.chartinfo-text1 p{
    font-size: 26px;
    margin: 0px;
}

.chartinfo-text2 p{
    font-size: 12px;
    margin: 0px;

}
/*end item6*/


/*end menu*/
