body{
    
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
    background-color: #F0F3F6;
    font-family: 'Open Sans', sans-serif !important;
    
}
li{
    list-style: none;
}
*{
    text-decoration: none;
    list-style: none;
}

